* { box-sizing: border-box;
}

#page {
    aspect-ratio: 16/9;
    width: 95% auto;
    height: auto;
	font-family: Arial, Helvetica, sans-serif;
	max-width: 1160px;
    background-color: rgba(0, 170, 0, 0.7);
	margin: 30px auto;
    padding: 15px;
    border: 2px solid #000000;
}

h1
 {
    background-color: #990000;
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    color:         #ffffff;
    margin: 5px auto;
    padding: 2.5px;
    border: 1px solid #000000;
    border-radius: 0%; 
    box-shadow: 10px 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    text-align: center;
}

img {
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
    width: 100%;
    height: auto;
    margin: 5px auto;
    border: 1px solid #000000;
    border-radius: 0%;
    box-shadow: 0px 0px 25px 0 rgba(0, 75, 0, 1.0),0 0px 25px 0 rgba(0,0,0,0.19);
}

.adv-custom-caption,
#contact-name,
#contact-email,
#copyright-1,
#copyright-2
{
    display: none;
}

.adv-custom-caption {
	padding-top: 5px;
    text-align: center;
}

#contact-name
{
    width:  120px;
    margin: auto;
    font-size: 12px;
    box-shadow: 10px 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#contact-email
{
    width:  170px;
    margin: auto;
    font-size: 12px;
    box-shadow: 10px 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#copyright-1
{
    width:  110px;
    margin: auto;
    font-size: 12px;
    box-shadow: 10px 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#copyright-2
{
    width:  117px;
    margin: auto;
    font-size: 12px;
    box-shadow: 10px 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#contact-name,
#contact-email,
#copyright-1,
#copyright-2
{
    background-color: 	#ffffff;
}
@media only screen and (orientation:portrait) {
    body {
      height: 100vw;
      width: 500px;
      transform: rotate(90deg);
    }
  }
